---
import { projects } from '../data/projects-data';
---

<h1 class="bg-indigo-700 text-stone-200 text-3xl text-center p-4">
	50 Projects in 50 Days
</h1>
<div class="">
	{
		projects.map((project, i) => (
			<a
				class={`flex items-center p-4 gap-4 ${
					i % 2 === 0 ? 'bg-amber-100' : 'bg-amber-200'
				}`}
				href={`/${project.slug}`}
			>
				<span>Day {project.day}:</span>
				<h2 class="text-xl"> {project.name}</h2>
			</a>
		))
	}
</div>
